# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
eagle.epf

# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs

*.dri
*.drl
*.gpi
*.pls

*.drd
*.drd.*

*.info

*.eps

*.cywrk.*
ComponentUpdateLog.txt
codegentemp/
Export/
CortexM3/
DP8051/
Generated_Source/
*.svd
*.html
*.rpt
*.cyprj.*
*.cycdx
*.cyfit
Uno_Blocks.cydsn/Libraries/APDS9960
Uno_Blocks.cydsn/Libraries/MicroOLED
Uno_Blocks.cydsn/Libraries/WiFi

